
.cal-table {
	border-collapse: collapse;
	table-layout: fixed;
	/*margin-left: -2px;*/
	width: 100%;
	position: relative;
	left: 0px;
	margin-bottom: 10px;
}

.cal-table th, .cal-table td {
	width: 14%;
	text-align: center;
	padding: 0px;
	line-height: 28px;
}

#cal-overlay {
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100vw;
	height: 100vh;
	z-index: 1690;
}

#cal-cont {
	position: absolute;
	top: 10px;
	left: 10px;
	width: 270px;
	overflow: hidden;
	background-color: white;
	z-index: 1700;
	box-sizing: border-box;
	/*padding: 5px;
	border: 2px solid #656565;*/
    box-shadow: 3px 3px 5px rgba(20,20,20,0.5);
    transition: height 0.5s;
    height: 0px;
    	
}

#cal-cont table td {
	padding: 0px;
}

.cal-arrow {
    	text-align: center;
    	padding: 0px 8px 3px 8px;
	user-select: none;
	font-size: 20px;
	font-weight: bold;
	cursor: pointer;
}

.cal-arrow:hover {
	background-color: lightgray;
}

.cal-date {
	user-select: none;
	cursor: pointer;
}

.cal-date:hover {
	background-color: lightgray;
	color: black;
}	

.gray {
	color: lightgray;
}

.cal-date-active {
	background-color: lightblue !important;
	font-weight: bold !important;
}

.cal-today {
	border: 1px solid gray;
}

.cal-head-table {
	text-align: center;
	width: 100%;
}

.cal-head-table td {
	padding: 0px;
}

#cal-selected-date {
	display: none;
}





